body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}

#header {
    margin-bottom: 20px;
    text-align: center; /* Centraliza os itens dentro do cabeçalho */
}

#logo-image {
    width: 300px; /* Ajuste a largura do logo conforme necessário */
    margin-bottom: 10px; /* Espaçamento abaixo do logo */
}

#robo-image {
    width: 450px; /* Largura do robô */
    margin-top: 10px; /* Espaçamento acima do robô */
}

@keyframes talk {
    0%, 100% {
        transform: scale(1); /* Tamanho normal */
    }
    50% {
        transform: scale(1.2); /* Leve aumento no meio da animação */
    }
}

#robo-image.talk {
    animation: talk 1s ease-in-out infinite; /* Duração de 1 segundo e animação contínua */
}

#container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

input[type="text"] {
    padding: 10px;
    width: 80%;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#response {
    margin-top: 20px;
    font-size: 1.2em;
}

#input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#question {
    padding: 10px;
    width: 80%;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#mic-button {
    padding: 7px;
    font-size: 20px;
    background-color: #28a745;
    color: white;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    position: relative; /* Define a posição relativa */
    top: -5px; /* Move o botão 10px para cima */
}

#mic-button.listening {
    background-color: red;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
